<%- include("header")  -%>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box" id="item">
        <% if (list.length > 0) {%>
            <% list.forEach(function(element) { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkedItem" onchange="this.form.submit()" value=<%= element._id %>><p><%= element.name %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
            <% }); %>
        <% }; %>
        <form class="item" action="/create" method="post">
            <input type="text" name="newItem" placeholder="New Item"> <button type="submit" name="listTitle" value=<%= listTitle %> >+</button>
        </form>
    </div>
</body>
<%- include("footer")  -%>